/*  ======= TEXT ============= */
h1{
    color: blueviolet;
    font-size: 2em;
    text-align: center;
}
h2{
    text-align: center;
    color: green;
    font-size: 1.8em;
}
h3{
   font-size: 22px; 
   color: green;
   text-align: center;
   padding: 1% 2%;

}
h4{
   font-size: 20px;
   color: rgb(15, 92, 92);
   padding: 1% 2%;
   text-align: center;
}
h5{
   font-size: 18px;
   color: rgb(169, 76, 4);
   padding: 1% 2%;
   text-align: center;
}
h6{
   font-size: 18px;
   color: rgb(121, 13, 180);
   padding: 1% 2%;
   text-align: center;
}
.h4{
   font-size: 22px;
   color: rgb(139, 44, 183);
   margin-top: 3%;
}
.p{
   font-size: 26px;
   text-indent: 30px;
   padding: 1%;
}
p{
   font-size: 18px;
   line-height: 1.6;
   color: rgb(84, 76, 76);
   font-weight:400 ;
}
.p22{
   font-size: 22px;
}
.p20{
   font-size: 20px;
}
.p18{
   font-size: 18px;
}
.p16{
   font-size: 16px;
}
.p24{
   font-size: 24px;
}
.p26{
   font-size: 26px;
}
.p28{
   font-size: 28px;
}
.p36{
   font-size: 36px;
}
.red{
   color: red;
}
.blue{
   color: blue;
}
.green{
   color: green;
}
.violet{
   color: rgb(105, 14, 190);
}
.gray{
   color: gray;
   font-style: italic;
}
.b{
   font-weight: 900;
   color: blue;
}

.slowa{
   width: 70%;
   margin: 0 auto;
   text-align: center;
}
.coral{
   color: rgb(239, 103, 53);
}
.weight{
   font-weight: 900;
}
.italic{
   font-style: italic;
}
.encyklopediaTitle{
   font-size: 30px;
   color: rgb(76, 74, 74);
   font-weight: 600;
}
.text{
   padding: 2%;
   line-height: 1.5;
   border: 2px solid gray;
   border-radius: 20px;
   margin: 2%;
   font-size: 34px;
   text-indent: 60px;
}
.pText{
   width: 80%;
   margin: 8px auto;
   font-size: 20px;
}
.text20 input{
   font-size: 20px;
}
.textTitle{
   width: 60%; margin: 0 auto; line-height: 1.5;
}

/* FON */
.niebieski{
   background-color: rgb(170, 224, 243);
   border-radius: 20px;
   padding: 3%;
}

.orang{
   background-color: rgb(243, 197, 149);
   padding: 3%;
}

.zieleny{
   background-color: rgb(203, 242, 213);
   border-radius: 15px;
   padding: 2%;
}
.fonPink{
   background-color: rgb(251, 217, 251);
   border-radius: 20px;
   padding: 3%;
}
.fonNiebieski{
   background-color: rgb(182, 228, 245);
   border-radius: 20px;
   padding: 3%;
}
.oknoPink{
   background-color: rgb(241, 84, 223);
   border-radius: 10px;
   padding: 3px;
}
.oknoBlue{
   background-color: rgb(61, 128, 209);
   border-radius: 10px;
   padding: 5px;
}

.fonLightGreen{
   background-color: rgb(218, 244, 185);
   padding: 0.8%;
}

ol{
   list-style-position: inside;
   line-height: 1.5;
}
.td{
   font-size: 18px;
}